<div>
                      <h1 class="mapcounts fltrt"><span class="alpha">Participants</span><span class="numeric num-participants">${properties.numParticipants}</span></h1>
                      <h1 class="mapcounts fltrt"><span class="alpha">Pilots</span><span class="numeric num-pilots">${properties.numPilots}</span></h1>
                      <h1 class="mapcounts fltrt"><span class="alpha">Initiatives</span><span class="numeric num-initiatives">${properties.numInitiatives}</span></h1>
</div>
